{% extends "test-layout.html" %}
	
{% block title %}
Owner view
{% endblock %}
{% block script %}
<script src="{{ base_url() }}/../index.js"></script>
{% endblock %}
{% block content %}
<div class="container">
<div id="form" class="row justify-content-md-center mt-5">
        <div class="card" style="width: 36rem;">
          <div class="card-body">
            <h5 class="card-title">Add employee</h5>
            <form action="{{ base_url() }}/employee_add" method="POST">
                <div class="form-group">
                    <label for="SSN">SSN</label>
                    <input type="textbox" class="form-control" name="ssn" aria-describedby="emailHelp" placeholder="Social Security Number" required>
                </div>
                <div class="form-group">
                    <label for="full name">First and Last name</label>
                    <input type="textbox" class="form-control" name="fullname" aria-describedby="emailHelp" placeholder="Full Name" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="textbox" class="form-control" name="phone" aria-describedby="emailHelp" placeholder="Phone number" required>
                </div>
                <div class="form-group">
                    <label for="salary">Salary</label>
                    <input type="textbox" class="form-control" name="salary" aria-describedby="emailHelp" placeholder="Salary" required>
                </div>
                <div class="form-group">
                    <label for="job">Job Title</label>
                    <input type="textbox" class="form-control" name="job" aria-describedby="emailHelp" placeholder="Job title"required>
                </div>
                <input type="submit" value="Submit">
            </form>
              </div>
        </div>
    </div>	
    <div>
        <a href="{{ path_for('owner_view') }}">Back</a>
    </div>
</div>

{% endblock %}
