{% extends "test-layout.html" %}
	
{% block title %}
Owner view
{% endblock %}
{% block script %}
<script src="{{ base_url() }}/../index.js"></script>
{% endblock %}
{% block content %}
<div class="container">
<div id="form" class="row justify-content-md-center mt-5">
        <div class="card" style="width: 36rem;">
          <div class="card-body">
            <h5 class="card-title">Delete employee</h5>
            <form action="{{ base_url() }}/employee_del" method="POST">
                <div class="form-group">
                    <label for="ID">Employee ID</label>
                    <input type="textbox" class="form-control" name="emp_id" aria-describedby="emailHelp" placeholder="ID" required>
                </div>
                <input type="submit" value="Submit">
            </form>
              </div>
        </div>
    </div>	
    <div>
        <a href="{{ path_for('owner_view') }}">Back</a>
    </div>
</div>

{% endblock %}
